<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Rain for relax</title>
		<link rel="stylesheet" href="../static/css/home.css" />
		<link rel="icon" href="../static/assets/images/cloud.png" type="image/x-icon" />
		<link rel="canonical" href="https://www.rain-for-relax.yuricunha.com/" />

		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-YMBMJST8GR"
		></script>

		<!-- Include external JavaScript file -->
		<script defer src="../static/script.js"></script>
	</head>
	<body>
		<video id="background-video" autoplay loop muted>
			<source src="../static/assets/chill-rain.mp4" type="video/mp4" />
		</video>
		<center>
			<div class="centered">
				<img
					id="logo"
					style="width: 25%"
					src="../static/assets/images/cloud.png"
					alt="Logo"
				/>
				<h1>Break the Cycle AI: <a href="{{ url_for('sources') }}"> Evidence-Based CBT </a> and <a href="{{ url_for('relax') }}">Mindfulness</a> for Addiction Recovery.</h1>
				<audio autoplay loop>
					<source src="../static/assets/rain-chill.mp3" />
				</audio>
                <a href="{{ url_for('questions', question_number=1) }}">
                    <button class="btn-2">Click here to begin</button>
                </a>
			</div>
		</center>
	</body>
</html>